/* Reset some default styling to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styling for the navigation bar */
nav {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff; /* Text color for navigation links */
    font-family: Arial, sans-serif; /* Font family for logo and navbar */
}

/* Styling for the logo in the navigation bar */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styling for the navigation links */
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

/* Styling for individual navigation items */
nav li {
    margin-right: 20px;
}

/* Styling for navigation links */
nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

/* Main content container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Styling for the Accessibility page section */
#accessibility {
    margin-bottom: 20px;
}

/* Container for a single photo */
.photo-container-single {
    display: flex;
    flex: 1;
    position: relative;
}

/* Styling for a single photo */
.photo-single {
    flex: 1;
    position: relative;
    overflow: hidden;
}

/* Styling for the photo itself */
.photo-single img {
    width: 100%;
    height: auto; /* Allow the image to scale proportionally */
    display: block;
}

/* Styling for overlay text on the photo */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: translateX(-50%);
    text-align: center;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: transform 0.3s ease-in-out; /* Added transition property */
    transform: translateY(100%); /* Initially set to move the overlay down */
}

/* Styling for overlay title */
.overlay h2 {
    margin-bottom: 10px;
}

/* Styling for overlay text on the photo with sliding-up effect */
.photo-single:hover .overlay {
    transform: translateY(0); /* Move the overlay up on hover */
}

/* Styling for the footer with a background color, text color, text alignment, and padding */
footer {
    background-color: #333;    /* Set the background color for the footer */
    color: #fff;               /* Set the text color for the footer */
    text-align: center;        /* Center-align the text in the footer */
    padding: 20px 0;           /* Add padding to the top and bottom of the footer */
    font-family: Arial, sans-serif; /* Set the font-family for the footer */
    
    position: fixed;           /* Fix the position of the footer */
    bottom: 0;                 /* Position the footer at the bottom of the viewport */
    width: 100%;               /* Ensure the footer spans the full width of the viewport */
    left: 0;                   /* Ensure the footer starts from the left edge of the viewport */
}
