
/*
Name: Viknan Chandrakumar
Subject: Data1200
Student Number: 381157
*/

/* Reset some default styling to ensure consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styling for the navigation bar */
nav {
    background-color: #333;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Styling for the logo in the navigation bar */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Styling for the navigation links */
nav ul {
    list-style: none;
    margin: 0;
    display: flex;
}

/* Styling for individual navigation items */
nav li {
    margin-right: 20px;
}

/* Styling for navigation links */
nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
}

/* Main content container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/* Styling for the Accessibility page section */
.accessibility-section {
    margin-bottom: 20px;
}

/* Container for the accessibility photos */
.photo-container {
    display: flex;
}

/* Styling for the accessibility photos */
.photo {
    flex: 1;
    position: relative;
    overflow: hidden;
    margin-right: 10px; /* Add margin to create spacing between photos */
    max-width: 550px; /* Set maximum width to ensure responsiveness */
}

/* Styling for the accessibility photos themselves */
.photo img {
    width: 100%;
    height: auto; /* Set height to auto to maintain aspect ratio */
    display: block;
}

/* Styling for overlay text on the accessibility photos */
.overlay {
    position: absolute;
    bottom: 0;
    left: 0%;
    transform: translateX(50%);
    text-align: center;
    width: 98%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
}

/* Styling for overlay title */
.overlay h2 {
    margin-bottom: 10px;
}

/* Styling for overlay text on the accessibility photos with sliding-up effect */
.photo:hover .overlay {
    transform: translateY(0);
}

/* Styling for the footer with a background color, text color, text alignment, and padding */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, sans-serif;
    
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}


